
<div class="divsion">

<div class="section">
  <h5>Producer</h5>
  <p>Murder Made Me Famous</p>

  <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">videocam</i>The Night Stalker</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">videocam</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">videocam</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>

</div>

<div class="divider"></div>

<div class="section">
  <h5>Associate Producer</h5>
  <p>Murder Made Me Famous</p>

  <ul class="collapsible">
      <li>
          <div class="collapsible-header"><i class="material-icons">videocam</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">videocam</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">videocam</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>


</div>