






<div class="navbar">
    <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Rijaa Nadeem</a>
        </div>
        <div class="row"></div>
        <div class="row">
        <div class="col s12" id="tabNav">
            <ul class="tabs">
              <li class="tab col s3"><a href="test1" >
                    <span class="black-text">About</span>
            </a></li>
              <li class="tab col s3"><a href="test2" >
                  <span class="black-text">Producer</span>
              </a></li>
              <li class="tab col s3 "><a href="test1">
                <span class="black-text">Director</span>
              </a></li>
              <li class="tab col s3"><a href="test4">
                  <span class="black-text">Contact</span>
              </a></li>
            </ul>
          </div>
        </div>
      </nav>
    
</div>




<splash-page></splash-page>


    <a href="#" class="scroll-down" address="true"></a>





<div class="parallax-container">
    <div class="parallax"><img src="assets/paraImage2.jpg" ></div>
</div>

<div>
    <app-producer-page></app-producer-page>
</div>


<div class="parallax-container">
    <div class="parallax"><img src="assets/paraImage1.jpg" ></div>
</div>

